<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="INFO">
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <!-- <PatternLayout pattern="%d{HH:mm:ss.SSS} [%highlight{%level}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green, DEBUG=blue}] [%t]: %msg%n" disableAnsi="false"/> -->
            <PatternLayout pattern="%highlight{%d{HH:mm:ss.SSS} %level [%t]: %msg%n}{FATAL=bg_red, ERROR=red, WARN=yellow bold, INFO=Normal, DEBUG=green bold, TRACE=blue}" disableAnsi="false"/>
            <ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY"/>
        </Console>
    </Appenders>
    <Loggers>
        <!--  <logger name="io" level="ERROR">
            <AppenderRef ref="ConsoleAppender"/>
        </logger>
        <logger name="org" level="INFO">
            <AppenderRef ref="ConsoleAppender"/>
        </logger>  -->
        <logger name="org.polypheny" level="INFO">
            <AppenderRef ref="ConsoleAppender"/>
        </logger>
        <!-- <logger name="org.polypheny.db.jdbc" level="TRACE">
        </logger> -->
        <!--<logger name="org.polypheny.db.plan.RelOptPlanner" level="DEBUG">
        </logger> -->
        <!-- <logger name="org.polypheny.db.plan.hep.HepPlanner" level="TRACE">
        </logger> -->
        <Root level="error"/>
    </Loggers>
</Configuration>
