name: Polypheny-DB Adapter Matrix CI

on:
    push:
    pull_request:
        types: [ opened, synchronize, reopened, ready_for_review ]

jobs:
    build:
        if: ${{ github.event_name != 'pull_request' || github.event.pull_request.draft == false }}
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                adapter: [ mongodb, hsqldb, monetdb, postgresql, file, cottontail, neo4j ]
        name: Integration Tests (Java 17)
        steps:
            -   name: Checkout
                uses: actions/checkout@v4
                with:
                    path: main # Temporary
            -   name: Checkout Driver (temporary)
                uses: actions/checkout@v4
                with:
                    repository: polypheny/Polypheny-JDBC-Driver
                    ref: proto-without-grpc
                    path: Polypheny-JDBC-Driver
            -   name: Set up JDK
                uses: actions/setup-java@v4
                with:
                    distribution: 'temurin'
                    java-version: 17
            -   name: Set env variable
                run: |
                    echo "POLYPHENY_HOME=$GITHUB_WORKSPACE" >> $GITHUB_ENV
            -   name: Build Driver (temporary)
                run: ./gradlew publishToMavenLocal
                working-directory: Polypheny-JDBC-Driver
            -   name: Assemble
                timeout-minutes: 10
                run: ./gradlew assemble
                working-directory: main # temporary
            -   name: Build Plugins
                timeout-minutes: 5
                run: ./gradlew assemblePlugins
                working-directory: main # temporary
            -   name: Execute integration tests for ${{ matrix.adapter }}
                timeout-minutes: 30
                run: ./gradlew integrationTests -Dstore.default=${{ matrix.adapter }}
                working-directory: main # temporary
