name: Polypheny-DB Plugin Matrix CI

on:
    push:
    pull_request:
        types: [ opened, synchronize, reopened, ready_for_review ]

jobs:
    build:
        if: ${{ github.event_name != 'pull_request' || github.event.pull_request.draft == false }}
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: false
            matrix:
                os: [ macos-latest, ubuntu-latest, windows-latest ]
        name: ${{ matrix.os }}
        steps:
            -   name: Checkout
                uses: actions/checkout@v4
            -   name: Set up JDK
                uses: actions/setup-java@v4
                with:
                    distribution: 'temurin'
                    java-version: 21
            -   name: Set env variable
                run: |
                    echo "POLYPHENY_HOME=$GITHUB_WORKSPACE" >> $GITHUB_ENV
            -   name: Print Java Version
                timeout-minutes: 5
            -   name: Print Docker Version
                timeout-minutes: 5
                run: docker --version
            -   name: Assemble
                timeout-minutes: 60
                run: ./gradlew assemble -PwithoutpullingUi=true
            -   name: Build Plugins
                timeout-minutes: 60
                run: ./gradlew assemblePlugins -PwithoutpullingUi=true
            -   name: Execute tests
                timeout-minutes: 30
                run: ./gradlew -p plugins test -PwithoutpullingUi=true
